// Fonts
//------------------------------------------------------------------------------
// Font imports
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

$font-branding: 'Alfa Slab One', cursive;
$font-headline: 'Open Sans', sans-serif;
$font-sans: 'Open Sans', sans-serif;

// Colors
//------------------------------------------------------------------------------
// Classic Dark Theme
$masthead-background: $tfn-dark-blue;
$main-homepage-background: $white;
$main-homepage-icon-color: $tfn-light-blue;
$main-homepage-icon-border: $tfn-light-blue;
$main-page-text-color: $black;
$main-page-btn-color: $gray-80;
$search-container-background: #e6e2e2;
$search-container-hover: $white;
$btn-homepage-background: #e6e2e2;
$btn-homepage-border: $black;
$btn-default-background: $black;
$btn-default-background-hover: $black;
$btn-default-border: $black;
$btn-default-text-color: $gray-80;
$btn-default-text-hover: $accent;
$btn-user-initial: $gray-70;
$elem-link-color: $tfn-light-blue;
$elem-active-link-color: $tfn-dark-blue;
$elem-link-accent: $accent-light;
$nav-text-color: $tfn-light-blue;

.logo {
  filter: invert(28%) sepia(70%) saturate(1847%) hue-rotate(174deg) brightness(89%) contrast(80%) !important;
}

h1, h2, h3, h4, h5, h6 {
margin-top: 20px !important;
}

#user-profile {
  display: none;
}

a {
  color: $tfn-light-blue !important;
}

a:hover {
  color: $accent;
}

#masthead, #masthead a {
  color: $white !important;
}

#masthead svg.logo {
  filter: #fff;
}

.g-upper-body h1.headline {
  color: $tfn-dark-blue !important;
  font-weight: 800 !important;
}


